// #parentContainer {
//   position:relative;
// }

#floatingElement {
  display: block!important;
  font-size: 20px;
  justify-content: left;
  align-items: flex-start;
}

#floatingText {
  color: black;
}
