@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');
@mixin desktop {
  @media (min-width: 1024px) { @content; }
}

@mixin phone {
  @media (max-width: 768px) { @content; }
}

#containerListview {
    display: flex;
    background-color: #FFFFFF;
}

#flexgrid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;

}

#notiStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;

    @include desktop {
    padding: 3rem 6rem;
  }

  @include phone {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

#mulitlineColumn {
  justify-content: center;
}

#box {
  display: block;
  width: 140px;
  height: 186px;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 10px 10px;
  text-decoration: none;
  border-color: #D8D8D8;
}

#price {
  color: #E01A1A;
}

#title {
  color: #4D4D4D;
  text-align: left;
  // font: Medium 12px/15px Roboto;
  letter-spacing: 0;
  color: #4D4D4D;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

#listing-header {
  position: fixed;
}

#stckyContainer {
  margin-top: 20px;
}

#floatingElement {
  display: block!important;
  font-size: 20px;
  justify-content: left;
  align-items: flex-start;
  padding-left: 90px;

  @include phone {
    padding-left: 30px;
  }
}
