@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto:500&display=swap');
#eazyLogo {
  color: #D90E0E;
  font-family: 'Roboto', sans-serif;
}

.navbar-item {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  font-size: 18px;
}
