
#menuTitle {
  top: 119px;
  left: 166px;
  width: 614px;
  height: 15px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
}
